html, body {
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

#container > nav {
    box-sizing: border-box;
    width: 300px;

    background-color: #111;
    color: white;
    padding: 10px 20px;
}

#map {
    width: 100%;
}

#tick-delay {
    width: 45px;
}

#scenario {
    width: 100%;
}
label[for="scenario"] {
    font-size: 85%;
}

#hover-info {
    position: absolute;
    top: 0; left: 0;
    width: auto;
    height: auto;
    background-color: white;
    border: 1px solid #111;
    border-radius: 2px;
    z-index: 10000;
    text-align: center;
    padding: 5px;

    display: none;
}

#reset {
    display: none;
}

#output {
    width: 228px;
    /* I can't be arsed to figure out the actual width so make sure it never gets hidden when overlapped */
    z-index: 10000;
    position: absolute;
    bottom: 10px;
}
